body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	background-color: #FFF9F5;
	color: #163349;
	margin-right: auto;
  	margin-left: auto;
  	padding-bottom: 5%;
}


#nav-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 3em; 
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1%;
    max-width: 800px;

}

#menu {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.menu-item {
    color: #163349;
    padding-left: 30px;
    text-decoration: none;
    position: relative;
    font-size: 0.7em;
}

.menu-item:hover {
    color: #E07261;
    text-decoration: underline;
}

#logo{
	text-decoration: none;
	position: relative;
	color: #E07261;
	font-size: 1em;
	font-weight: 600;
	text-align: left;
    padding-right: 1em;

}

.case-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 3%;
    width: 50%;
    margin: 0 auto;
    max-width: 800px;
}

.container-foot {
    position: relative;
    width: 50%;
    margin: 0 auto;
    max-width: 800px;
}

.link {
    color: #E07261;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title {
    padding-bottom: 1em;
}

.hero img{
    max-width: 100%;
}

.info {
    font-size: 0.8em;
    border-style: solid;
    border-width: 1px;
    padding: 20px 30px 20px 30px;
}
.space{
    padding-bottom: 2em;
}

.h1{
    font-size: 1.7em;
    font-weight: 700;
    padding-top: 1.5em;
    color: #E07261;
    padding-bottom: 0.5em;
}

.h2{
    font-size: 1em;
    font-weight: 700;
    padding-top: 3em;
    color: #163349;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.h3{
    font-size: 0.83em;
    font-weight: 700;
    padding-top: 2.5em;
    color: #163349;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.callout{
    font-size: 1.7em;
    font-weight: 700;
    padding-top: 0.5em;
    color: #E07261;
    padding-bottom: 0.25em;
}

strong{
    font-size: 1em;
    font-weight: 700;
}

mark{
    background-color: #FFB2A6;
}

ol{
    width: 80%;
}

li {
    padding-bottom: 2%;
}

.design-decision{
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
}


.design-decision img{
    width: 100%;
    height: auto;
}

.design-decision p {
    padding-left: 10%;
}

.two-pic {
    display: flex;
    flex-direction: row;
}

.two-pic img{
    width: 50%;
    height: auto;
    max-width: 470px;
}



@media only screen and (max-width: 1024px) {
    body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #FFF9F5;
    color: #163349;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
    }

    .case-container {
        width: 80%;
        padding-bottom: 0px;
    }
    .container-foot {
        width: 80%;
        padding-bottom: 5%;
    }
    .design-decision p {
        padding-left: 5%;
    }

    #nav-bar {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 3em; 
        width: 80%;
        margin: 0 auto;
        
    }

    #logo{
        padding-bottom: 0.2em;
        }

    .menu-item {
        color: #163349;
        padding-left: 0px;
        padding-right: 30px;
        text-decoration: none;
        position: relative;
        font-size: 0.7em;
    }

    .h1{
        font-size: 1.7em;
        font-weight: 700;
        padding-top: 1.5em;
        color: #E07261;
        padding-bottom: 0.5em;
    }

    .h2{
        font-size: 1em;
        font-weight: 700;
        padding-top: 3em;
        color: #163349;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .h3{
        font-size: 0.8em;
        font-weight: 600;
        padding-top: 1.5em;
        color: #163349;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .callout{
        font-size: 2.1em;
        font-weight: 700;
        padding-top: 0.3em;
        color: #E07261;
        padding-bottom: 0.25em;
    }

}

@media only screen and (max-width: 700px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        background-color: #FFF9F5;
        color: #163349;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 5%;
    }

    .case-container {
        width: 80%;
        padding-bottom: 0px;
    }
    .container-foot {
        width: 80%;
        padding-bottom: 5%;
    }
    .design-decision p {
        padding-left: 5%;
    }

    #nav-bar {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 3em; 
        width: 80%;
        margin: 0 auto;
        
    }

    #logo{
        padding-bottom: 0.2em;
        }

    .menu-item {
        color: #163349;
        padding-left: 0px;
        padding-right: 30px;
        text-decoration: none;
        position: relative;
        font-size: 0.7em;
    }

    .h1{
        font-size: 1.7em;
        font-weight: 700;
        padding-top: 1.5em;
        color: #E07261;
        padding-bottom: 0.5em;
    }

    .h2{
        font-size: 0.8em;
        font-weight: 700;
        padding-top: 3em;
        color: #163349;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .h3{
        font-size: 0.8em;
        font-weight: 600;
        padding-top: 1.5em;
        color: #163349;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .callout{
        font-size: 1.7em;
        font-weight: 700;
        padding-top: 0.5em;
        color: #E07261;
        padding-bottom: 0.25em;
    }

    .design-decision{
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }

    .two-pic {
        display: flex;
        flex-direction: column;
    }

    .two-pic img{
        width: 100%;
        height: auto;
    }

}